<!DOCTYPE html>
<html>
    <head>
        <title>Padaria</title>
    </head>
    <body>
        <h1>Preencher Dados</h1>
        <form action="<%action%>" method="post">
            <table>
                <tr>
                    <td>Nome</td>
                    <td><input name="newProd"></td>
                </tr>
                <tr>
                    <td>Preço</td>
                    <td><input name="newPreco"></td>
                </tr>
                <tr>
                    <td>Quantidade Disponível</td>
                    <td><input name="newQtd"></td>
                </tr>
                <tr>
                    <td><a href="/">Cancel</a></td>
                    <td><input type="submit" value="Save"></td>
                </tr>
            </table>
        </form>
    </body>
</html>