<!DOCTYPE html>
<html>
  <head>
    <title>Padaria</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Listagem de Produtos</h1>
    <p>Produtos cadastrados</p>

    <table>
      <thead>
        <tr style="background-color: #CCC;">
          <td>Produto</td>
          <td>Preço</td>
          <td>Qtd Disponível</td>
          <td>Ações</td>
        </tr>
      </thead>
      <tbody>
        <% if(!registros || registros.length == 0) { %>
          <tr>
            <td colspan="4">Nenhum registro!</td>
          </tr>
        <% } else { 
          registros.forEach(function(produto){ %>
          <tr>
            <td><%= produto.prodnome %></td>
            <td><%= produto.prodpreco %></td>
            <td><%= produto.prodqtd %></td>
            <td>
              <a>Alterar</a>
              <a href="/deleteProduto/<%= produto.prodcodigo %>" onclick="return confirm('Confirmar exclusão?');">Apagar</a>
            </td>
          </tr>
        <% })} %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <br>
            <a href="./insertProduto">Cadastrar Produto</a>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
